/* Login.css */
.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .cadastroCorpo {
    display: flex;
    width: 950px;
    height: 650px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .ladoDireitoCadastro {
    width: 62%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
  }
  
  .tituloCadastro {
    font-size: 45px;
  }

  .tituloCadastroAlinhar{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  .labelCadastro {
    margin: 10px 0 5px;
    font-size: 25px;
  }
  .inputCadastro{
    width: 98%;
    /* padding: 5px; */
    font-size: 15px;
    border-bottom: 1px solid rgb(14, 160, 3);
    border-top: none;
    border-left: none;
    border-right: none;
    border: 2Z ;
    background-color: #222;
    color: #FFFFFF;
    outline: none;
  }
  

  .botaoDeCadastrar {
    /* padding: 10px; */
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: #09a509;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
  }
  .parteDeBaixoCadastro{
    display: flex;
    width: 100%;
    height: 25%;
    background-color: #222;
    align-items: center;
    justify-content: center;
  }
  
  .login-button:hover {
    background-color: #00cc00;
  }
  
  .ladoEsquerdoCadastro {
    width: 38%;
    height: 100%;
    background-color: #00cc00;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
  }
  
  /* .divLogoCadastro{
    margin: 0;
  } */
  
  .botaoLoginCadastro {
    /* padding: 10px; */
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: #00cc00;
    color: #ffffff;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botaoLoginCadastro:hover {
    background-color: #222222;
  }
  